
server:
    port : 9001
spring:
    application:
        name: spring-cloud-config-server
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/xuzhaokai/vessel-cloud.git     # git
                    search-paths: config-repo/config-vessel,config-repo/config-status
                    username: xuzhaokai
                    password: 5201314Kai                                                             # git?????
    rabbitmq:
        host: 10.222.22.53
        port: 5672
        username: admin
        password: 123456

eureka:
    client:
        serviceUrl:
            defaultZone: http://firsthost:8111/eureka/,http://secondhost:8222/eureka/,http://thirdhost:8333/eureka/   ## eurka

zuul:
    host:
        socket-timeout-millis: 60000
        connect-timeout-millis: 60000

management:
    security:
        enabled: false

hystrix:
    command:
        default:
            execution:
                isolation:
                    thread:
                        timeoutInMilliseconds: 60000
